@import "../../node_modules/normalize.css/normalize.css";

:root {
    --bg: #ffffff;
    --grey: #c2c2c2;
    --light-grey: #e2e2e2;
    --active-color: #2f80ed;
    --important-color: #27ae60;
    --dark-font-color: #53565a;
    --light-font-color: #706e6b;
    --light-border-color: #dddbda;
    --search-color: #b3b3b3;
    --shadow-color-light: #e6e6e6;
    --shadow-color-dark: #999999;
    --shadow-color-active: #569eee;
    --main-fs: 16px;
    --main-lh: 19px;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: var(--main-fs);
    font-family: "Roboto", Arial, sans-serif;
    background: url(../images/bg.svg) no-repeat;
    background-position: bottom 20% right 6px;
    background-size: 65%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 760px;
    padding: 20px 40px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.hidden {
    display: none!important;
}

.header__logo {
    margin-right: 20px;
    margin-left: -20px;
}

.header__search {
    flex: 1 1 auto;
    position: relative;
}

button,
input,
textarea {
    border: none;
    outline: none;
}

textarea {
    resize: none;
}

.search-icon {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 32px;
    height: 32px;
    background: url(../icons/search-icon.svg) no-repeat;
    background-position: center center;
}

input[type="search"] {
    width: 100%;
    display: block;
    min-height: 40px;
    padding-left: 36px;
    padding-right: 16px;
    background: linear-gradient(0deg, #f6f6f6, #f6f6f6), #fefefe;
    border-width: 1px;
    border-style: solid;
    border-color: var(--light-grey);
    box-shadow: inset 2px 2px 2px var(--shadow-color-light);
    border-radius: 4px;
    font-size: var(--main-fs);
    line-height: var(--main-lh);
    font-weight: 500;
    color: var(--search-color);
    transition: all 0.2s ease-in-out;
}

input[type="search"]:focus {
    border-color: var(--active-color);
    transition: all 0.3s ease-in-out;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style: none;
}

.tabs__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    padding: 18px 0px;
}

.tabs__list::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--light-grey);
}

.tabs__item {
    position: relative;
    width: 100%;
    font-weight: 900;
    color: var(--dark-font-color);
    opacity: 0.5;
}

.tabs__item.active {
    opacity: 1;
}

.tabs__item.active::before {
    content: "";
    position: absolute;
    top: -18px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--active-color);
}

.add-task {
    margin-bottom: 23px;
}

.add-task__wrapper {
    display: flex;
    flex-direction: column;
}

.add-task__label {
    color: var(--light-font-color);
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 3px;
    pointer-events: none;
}

.add-task__textarea {
    min-height: 90px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 16px 12px 13px 23px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--light-border-color);
    border-radius: 4px;
    color: var(--dark-font-color);
    transition: all 0.2s ease-in-out;
}

.add-task__textarea:focus {
    border-color: var(--active-color);
    transition: all 0.3s ease-in-out;
    
}

.add-task__btn {
    align-self: flex-end;
    min-width: 190px;
    min-height: 35px;
    padding: 10px;
    text-align: center;
    background: var(--active-color);
    box-shadow: 0 2px 6px var(--shadow-color-dark);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    transition: all 0.2s ease-in-out;
}

.add-task__btn:hover {
    box-shadow: 0px 6px 20px var(--shadow-color-active);
    transition: all 0.3s ease-in-out;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

#tab-done {
    margin-top: 20px;
}

.tasks__list li {
    display: flex;
    min-height: 100px;
    padding: 16px 12px 13px 23px;
    background: var(--bg);
    box-shadow: 0px 6px 20px var(--shadow-color-light);
    border-radius: 4px;
    color: var(--dark-font-color);
    transition: all 0.2s ease-in-out;
}

.tasks__list li + li {
    margin-top: 17px;
}

.tasks__list li:hover {
    box-shadow: 0px 6px 20px var(--shadow-color-active);
    transition: all 0.3s ease-in-out;
}

.tasks__list li p {
    flex: 1;
    padding-right: 20px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tasks__list li.done p {
    text-decoration: line-through;
}

.tasks__list li p.bold {
    font-weight: 700;
    background: url(../icons/important-icon.svg) no-repeat 0 0;
    padding-left: 30px;
}

.important {
    align-self: flex-start;
    padding: 10px 16px;
    margin-right: 20px;
    min-width: 180px;
    min-height: 36px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    box-shadow: 0 2px 6px var(--shadow-color-dark);
    color: var(--bg);
    border-radius: 20px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.tasks__list li:hover .important {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.important--primary {
    background-color: var(--important-color);
}

.important--secondary {
    background-color: var(--grey);
}

.remove {
    align-self: flex-start;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(../icons/remove-icon.svg) no-repeat center center, var(--light-grey);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.tasks__list li:hover .remove {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
